* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0; /* Remove default body margin */
}


header {
    display: flex;
    justify-content: center;
    background-color: #121E38;
    border-bottom: 5px solid black;
    padding: 30px 0px;
}

.header_text {
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 0;
    background-color: #213769a2;
    margin: 0;
    padding: 0;
}

main > div {
    margin: 0; /* Remove margin between sections */
    padding: 0;
}

.body_head_text {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.rules_head1 {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    background-color: #213769;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.rules_head2 {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    background-color: #213769;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    margin: 0px;
}

.rules_head3 {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    background-color: #213769;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
}

.list {
    font-weight: bold;
    list-style-type: decimal;
    color: white;
    padding: 20px 30px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 0px;
}

label {
    font-size: 25px;
    font-weight: bolder;
}

input {
    border: 8px;
    border-radius: 8px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.outside_res_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res_list {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
    list-style-type: disc;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    border: 0px;
    border-radius: 8px;
    padding: 20px 30px;
    background-color: #213769;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}