* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0; /* Remove default body margin */
}

header {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #121E38;
    border-bottom: 5px solid black;
    padding: 1.875em 0em;
}

.head_image {
    display: flex;
    justify-content: center;
    width: 10%;
    
}

.header_text {
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

main {
    display: flex;
    justify-content: stretch;
    gap: 0;
    background-color: #213769a2;
    margin: 0;
    padding: 0;
}

main > div {
    margin: 0; /* Remove margin between sections */
    padding: 0;
}

.outer_sect {
    display: flex;
    flex-direction: column;
}

.body_head_text {
    display: flex;
    font-size: 1.563rem;
    font-weight: bold;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.rules_head1 {
    display: flex;
    justify-content: center;
    padding: 1.875em 0em;
    text-decoration: underline white;
    background-color: #213769;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.rule_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625em 1.875em 0em 1.875em;
}

.list {
    font-weight: bold;
    list-style-type: decimal;
    color: white;
    padding: 0.938em 0.625em;
    max-width: 350px;
}

.section2 {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 1.875em 5.625em;
}

label {
    font-size: 1.563rem;
    font-weight: bolder;
}

input {
    border: 8px;
    border-radius: 8px;
}

.rules_head2 {
    display: flex;
    justify-content: center;
    padding: 1.875em 0em;
    text-decoration: underline white;
    background-color: #213769;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    margin: 0;
}

.section3 {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
    flex: 1;
}

.rules_head3 {
    display: flex;
    justify-content: center;
    padding: 1.875em 0em;
    text-decoration: underline white;
    background-color: #213769;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.outside_res_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res_list {
    font-size: 1.563rem;
    font-weight: bold;
    padding: 0.625em 1.25em;
    list-style-type: disc;
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
    padding: 1.563em 0em;
}

button {
    border: 0px;
    border-radius: 8px;
    padding: 0.625em 1.875em;
    background-color: #213769;
    font-size: 1.25rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.sect_img {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer_text {
    display: flex;
    justify-content: center;
    padding: 1.875em 0em;
    font-size: 1.875em;
    font-weight: bolder;
    text-decoration: underline;
    color: white;
    background-color: #213769;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.footer_link {
    display: flex;
    justify-content: center;
    padding: 1.875em 0em;
    font-size: 1.25rem;
    font-weight: bold;
}